#header{
    width:100%;
    height:78px;
    background:map-get($colors, b);
 

    .zhong{
      @extend %public
    }
}
#header .left{
     float: left;
     margin-top: 15px;;
     a{
        display: block;
        width: 145px;
        height: 50px;
        background: url(../images/logo.png) no-repeat left top;
     }
}
#header .middle{
   
    width: 528px;
    height: 58px;
    float: left;
    margin-top:15px;
    margin-left: 145px;
   
      .search{
          width: 100%;
          height: 28px;
          .search2{
            float: left;
            width: 425px;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border: 1px solid #008842;
            background: #e0e0e0;
            font-size:12px;
            font-family: Arial,Verdana,"\5b8b\4f53";
            color: #000;
        }
         .search3{
            float: left;
            display: block;
            width: 81px;
            height: 28px;
            line-height: 28px;
            padding: 0;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            background: #008842;
            font-size:14px;
            font-family:Arial,Verdana,"\5b8b\4f53";
        }  
     } 
     .text{
        height: 30px;
        line-height: 30px;
        font-family:Arial,Verdana,"\5b8b\4f53";
        a{
            color: #008842;
            margin-right: 5px;
            display: inline-block;
            text-decoration: none;
            line-height: 30px;
            font-size: 12px;
        }
        .cishen,.xunyu,.niujian{
            color: #727272;
        }
    }
}
#header .right{
    float: right;
    height: 42px;
    background: pink;
    margin-top:15px;
    width: 170px;
    font-size: 25px;
    border: 1px solid #008842;
    background: #fff;
    cursor: pointer;
    .car{
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 20px;
        margin-right: 10px;
        font-size: 12px;
        padding: 0;
        background: url(../images/top.png) no-repeat -112px 0;
        margin-left: 28px;
        margin-top:13px;
    }
    .num{
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        line-height: 28px;
        font-size: 25px;
        text-align: center;
        color:#008842 ;
    }
}
.select{
    display: inline-block;
    width: 180px;
    z-index: 2000000;
    height: 38px;
    text-align: center;
    background: #008842;
    text-decoration: none;
    font: bold 15px/16px "Microsoft YaHei";
    line-height: 38px;
    color: #fff;
}
.select2{
    display: none;
    width: 179px;
    height: 520px;
    background: white;
    z-index: 1000;
    li{
        width: 165px;
        height: 28px;
        padding: 10px 5px 9px 5px;
        text-align: center;
    }
    .last{
        height: 300px;
        width:180px;
        border: 1px solid #cccc;
        display: none;
        position: absolute;
        left: 179px;
        top:0px;
        background: #fff;
        z-index: 1000;
        span{
            display: block;
            padding: 10px 20px;
        }
        h2{
            padding: 30px  50px;
        }
    }
};

.all:hover .select2{
    display: block;
}
.all{
   position: absolute;
   top:108px;
   left: 159px;
   z-index: 10000;
}
.select2 li:hover{
    .last{
        display:inline-block;
    }
    
}
li{
    list-style: none;
}

