// @import "compass/reset";
#top{
    @extend %public;
    height: 30px;
}
#top .topul{
     float: left;
     li{
        @extend %public1;
        margin-right: 10px;
        position: relative;
     };
     .shanghai{
        margin-right: 5px;
        color:map-get($colors, a);
        float: left;
     };
     .city{
        display: none;
        position: absolute;
        top: 28px;
        left: 0;
        width: 482px;
        height: 482px;
        border: 2px solid #007f4d;
        background: #fff;
     }
     .sanjiao1{
        background: url(../images/top.png) no-repeat 0 0; 
        display: inline-block;
        width: 8px;
        height: 4px;
    }

};

#top .topul2{
    a {
        text-decoration: none;
    }
    float: right;
    li{
        @extend %public1; 
        padding: 0 10px;
        position: relative;
    };
    .rentou1{
        background: url(../images/top.png) no-repeat -40px 0; 
        @extend %public2
    };
    .sanjiao2{
        background: url(../images/top.png) no-repeat 0 0; 
        display: inline-block;
        width: 8px;
        height: 6px;
        vertical-align: middle;
    };
    .pic2{
        @extend %public2;
        background: url(../images/top.png) no-repeat -63px 0;
    }
    .sanjiao3{
        background: url(../images/top.png) no-repeat 0 0; 
        display: inline-block;
        width: 8px;
        height: 6px;
        vertical-align: middle;
    }
    .pic3{
        @extend %public2;
        width:22px ;
        background: url(../images/top.png) no-repeat -147px 0;
    }
    .pic4{
        @extend %public2;
        width:22px ;
        background: url(../images/top.png) no-repeat -81px 0;
    }
    .pic5{
        img{
            @extend %public2;
            height:17px; 
        }
    }
    .pic6{
        img{
            @extend %public2;
            height:17px; 
        }
    }
    .myYG{
    display: none;
    position: absolute;
    top: 30px;
    left: -1px;
    border: 1px solid #b4c1a3;
    background: white;
    width: 126px;
    height: 200px;
    z-index:10000;
      a{
          display: block;
          padding: 0 8px;
      }
      .yuanyuan{
        margin-left: 10px;
        padding: 0 5px;
        color: #fff;
        background: #008842;
        border-radius: 50%;
        width:15px;
        height: 15px;
        display: inline-block;
        position: relative;
        top:1px;
        text-align: center;
        line-height:15px;
   
    }
      
    }
    .phoneYG{
        display: none;
        position: absolute;
        top: 30px;
        left: -1px;
        border: 1px solid #b4c1a3;
        width: 136px;
        height: 290px;
        background: white;
        z-index:10000;
         img{
             display: block;
             width:120px;
             height: 120px;
             margin-left:6.5px;
         }
         span{
            display: block;
            margin-left:28px;
         }
    }
}
#top .topul2 .effect1,.effect2{
    border-left: 1px solid white;
    border-right: 1px solid  white;
}
/*！                       css效果                  */
#top .topul2 .effect1:hover{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    
     .myYG{
         display: block;
     }
}
#top .topul2 .effect2:hover{
    
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

 .phoneYG{
     display: block;
 }
}