@charset "UTF-8";
/*！               以下是公共样式              */
/* line 10, ../sass/registry.scss */
#top, #header .zhong, #bottom {
  width: 1200px;
  margin: 0 auto;
}

/* line 14, ../sass/registry.scss */
#top .topul li, #top .topul2 li {
  font-size: 12px;
  font-family: Arial,Verdana,"\5b8b\4f53";
  float: left;
  line-height: 30px;
}

/* line 20, ../sass/registry.scss */
#top .topul2 .rentou1, #top .topul2 .pic2, #top .topul2 .pic3, #top .topul2 .pic4, #top .topul2 .pic5 img, #top .topul2 .pic6 img {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_top.scss */
#top {
  height: 30px;
}

/* line 6, ../sass/_top.scss */
#top .topul {
  float: left;
}
/* line 8, ../sass/_top.scss */
#top .topul li {
  margin-right: 10px;
  position: relative;
}
/* line 13, ../sass/_top.scss */
#top .topul .shanghai {
  margin-right: 5px;
  color: #008842;
  float: left;
}
/* line 18, ../sass/_top.scss */
#top .topul .city {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  width: 482px;
  height: 482px;
  border: 2px solid #007f4d;
  background: #fff;
}
/* line 28, ../sass/_top.scss */
#top .topul .sanjiao1 {
  background: url(../images/top.png) no-repeat 0 0;
  display: inline-block;
  width: 8px;
  height: 4px;
}

/* line 37, ../sass/_top.scss */
#top .topul2 {
  float: right;
}
/* line 38, ../sass/_top.scss */
#top .topul2 a {
  text-decoration: none;
}
/* line 42, ../sass/_top.scss */
#top .topul2 li {
  padding: 0 10px;
  position: relative;
}
/* line 47, ../sass/_top.scss */
#top .topul2 .rentou1 {
  background: url(../images/top.png) no-repeat -40px 0;
}
/* line 51, ../sass/_top.scss */
#top .topul2 .sanjiao2 {
  background: url(../images/top.png) no-repeat 0 0;
  display: inline-block;
  width: 8px;
  height: 6px;
  vertical-align: middle;
}
/* line 58, ../sass/_top.scss */
#top .topul2 .pic2 {
  background: url(../images/top.png) no-repeat -63px 0;
}
/* line 62, ../sass/_top.scss */
#top .topul2 .sanjiao3 {
  background: url(../images/top.png) no-repeat 0 0;
  display: inline-block;
  width: 8px;
  height: 6px;
  vertical-align: middle;
}
/* line 69, ../sass/_top.scss */
#top .topul2 .pic3 {
  width: 22px;
  background: url(../images/top.png) no-repeat -147px 0;
}
/* line 74, ../sass/_top.scss */
#top .topul2 .pic4 {
  width: 22px;
  background: url(../images/top.png) no-repeat -81px 0;
}
/* line 80, ../sass/_top.scss */
#top .topul2 .pic5 img {
  height: 17px;
}
/* line 86, ../sass/_top.scss */
#top .topul2 .pic6 img {
  height: 17px;
}
/* line 91, ../sass/_top.scss */
#top .topul2 .myYG {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  border: 1px solid #b4c1a3;
  background: white;
  width: 126px;
  height: 200px;
  z-index: 10000;
}
/* line 101, ../sass/_top.scss */
#top .topul2 .myYG a {
  display: block;
  padding: 0 8px;
}
/* line 105, ../sass/_top.scss */
#top .topul2 .myYG .yuanyuan {
  margin-left: 10px;
  padding: 0 5px;
  color: #fff;
  background: #008842;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 1px;
  text-align: center;
  line-height: 15px;
}
/* line 122, ../sass/_top.scss */
#top .topul2 .phoneYG {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  border: 1px solid #b4c1a3;
  width: 136px;
  height: 290px;
  background: white;
  z-index: 10000;
}
/* line 132, ../sass/_top.scss */
#top .topul2 .phoneYG img {
  display: block;
  width: 120px;
  height: 120px;
  margin-left: 6.5px;
}
/* line 138, ../sass/_top.scss */
#top .topul2 .phoneYG span {
  display: block;
  margin-left: 28px;
}

/* line 144, ../sass/_top.scss */
#top .topul2 .effect1, .effect2 {
  border-left: 1px solid white;
  border-right: 1px solid  white;
}

/*！                       css效果                  */
/* line 149, ../sass/_top.scss */
#top .topul2 .effect1:hover {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 153, ../sass/_top.scss */
#top .topul2 .effect1:hover .myYG {
  display: block;
}

/* line 157, ../sass/_top.scss */
#top .topul2 .effect2:hover {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 162, ../sass/_top.scss */
#top .topul2 .effect2:hover .phoneYG {
  display: block;
}

/* line 1, ../sass/_header.scss */
#header {
  width: 100%;
  height: 78px;
  background: #e0e0e0;
}

/* line 11, ../sass/_header.scss */
#header .left {
  float: left;
  margin-top: 15px;
}
/* line 14, ../sass/_header.scss */
#header .left a {
  display: block;
  width: 145px;
  height: 50px;
  background: url(../images/logo.png) no-repeat left top;
}

/* line 21, ../sass/_header.scss */
#header .middle {
  width: 528px;
  height: 58px;
  float: left;
  margin-top: 15px;
  margin-left: 145px;
}
/* line 29, ../sass/_header.scss */
#header .middle .search {
  width: 100%;
  height: 28px;
}
/* line 32, ../sass/_header.scss */
#header .middle .search .search2 {
  float: left;
  width: 425px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #008842;
  background: #e0e0e0;
  font-size: 12px;
  font-family: Arial,Verdana,"\5b8b\4f53";
  color: #000;
}
/* line 44, ../sass/_header.scss */
#header .middle .search .search3 {
  float: left;
  display: block;
  width: 81px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  background: #008842;
  font-size: 14px;
  font-family: Arial,Verdana,"\5b8b\4f53";
}
/* line 60, ../sass/_header.scss */
#header .middle .text {
  height: 30px;
  line-height: 30px;
  font-family: Arial,Verdana,"\5b8b\4f53";
}
/* line 64, ../sass/_header.scss */
#header .middle .text a {
  color: #008842;
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  font-size: 12px;
}
/* line 72, ../sass/_header.scss */
#header .middle .text .cishen, #header .middle .text .xunyu, #header .middle .text .niujian {
  color: #727272;
}

/* line 77, ../sass/_header.scss */
#header .right {
  float: right;
  height: 42px;
  background: pink;
  margin-top: 15px;
  width: 170px;
  font-size: 25px;
  border: 1px solid #008842;
  background: #fff;
  cursor: pointer;
}
/* line 87, ../sass/_header.scss */
#header .right .car {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 20px;
  margin-right: 10px;
  font-size: 12px;
  padding: 0;
  background: url(../images/top.png) no-repeat -112px 0;
  margin-left: 28px;
  margin-top: 13px;
}
/* line 99, ../sass/_header.scss */
#header .right .num {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  line-height: 28px;
  font-size: 25px;
  text-align: center;
  color: #008842;
}

/* line 109, ../sass/_header.scss */
.select {
  display: inline-block;
  width: 180px;
  z-index: 2000000;
  height: 38px;
  text-align: center;
  background: #008842;
  text-decoration: none;
  font: bold 15px/16px "Microsoft YaHei";
  line-height: 38px;
  color: #fff;
}

/* line 121, ../sass/_header.scss */
.select2 {
  display: none;
  width: 179px;
  height: 520px;
  background: white;
  z-index: 1000;
}
/* line 127, ../sass/_header.scss */
.select2 li {
  width: 165px;
  height: 28px;
  padding: 10px 5px 9px 5px;
  text-align: center;
}
/* line 133, ../sass/_header.scss */
.select2 .last {
  height: 300px;
  width: 180px;
  border: 1px solid #cccc;
  display: none;
  position: absolute;
  left: 179px;
  top: 0px;
  background: #fff;
  z-index: 1000;
}
/* line 143, ../sass/_header.scss */
.select2 .last span {
  display: block;
  padding: 10px 20px;
}
/* line 147, ../sass/_header.scss */
.select2 .last h2 {
  padding: 30px  50px;
}

/* line 153, ../sass/_header.scss */
.all:hover .select2 {
  display: block;
}

/* line 156, ../sass/_header.scss */
.all {
  position: absolute;
  top: 108px;
  left: 159px;
  z-index: 10000;
}

/* line 163, ../sass/_header.scss */
.select2 li:hover .last {
  display: inline-block;
}

/* line 168, ../sass/_header.scss */
li {
  list-style: none;
}

/* line 2, ../sass/_footer.scss */
#footer {
  width: 100%;
  height: 42px;
  background: #e0e0e0;
  margin-top: 50px;
  padding: 30px 0;
}
/* line 8, ../sass/_footer.scss */
#footer ul {
  margin: 0 auto;
  width: 1200px;
  height: 42px;
}
/* line 13, ../sass/_footer.scss */
#footer li {
  float: left;
  width: 190px;
  height: 42px;
  margin-left: 55px;
  padding-left: 55px;
  list-style: none;
}
/* line 20, ../sass/_footer.scss */
#footer li p {
  display: block;
  padding-left: 15px;
  color: #007f4d;
  font: normal 18px/25px "Microsoft YaHei";
  border-left: 1px solid #a6a6a6;
}
/* line 27, ../sass/_footer.scss */
#footer li span {
  display: block;
  padding-left: 15px;
  border-left: 1px solid #a6a6a6;
  font-size: 12px;
  font-family: Arial, Verdana, "宋体";
}

/* line 36, ../sass/_footer.scss */
#footer ul .li1 {
  background: url(../images/footer.png) no-repeat 0 0;
}

/* line 39, ../sass/_footer.scss */
#footer ul .li2 {
  background: url(../images/footer.png) no-repeat 0 -43px;
}

/* line 42, ../sass/_footer.scss */
#footer ul .li3 {
  background: url(../images/footer.png) no-repeat 0 -83px;
}

/* line 45, ../sass/_footer.scss */
#footer ul .li4 {
  background: url(../images/footer.png) no-repeat 0 -125px;
}

/* line 2, ../sass/_bottom.scss */
#bottom {
  height: 363px;
  margin: 50px auto 0;
}
/* line 7, ../sass/_bottom.scss */
#bottom ul {
  width: 100%;
  height: 148px;
}
/* line 10, ../sass/_bottom.scss */
#bottom ul li {
  width: 190px;
  height: 100%;
  margin-left: 50px;
  float: left;
  list-style: none;
}
/* line 17, ../sass/_bottom.scss */
#bottom ul li p {
  height: 23px;
  width: 100%;
  font-size: 14px;
  text-indent: 40px;
  line-height: 23px;
}
/* line 24, ../sass/_bottom.scss */
#bottom ul li div {
  border-left: 1px dashed #A8A8A8;
  height: 110px;
  margin-top: 15px;
  margin-left: 10px;
}
/* line 29, ../sass/_bottom.scss */
#bottom ul li div a {
  display: block;
  padding: 5px 20px;
  font-size: 12px;
}
/* line 37, ../sass/_bottom.scss */
#bottom span {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 43, ../sass/_bottom.scss */
#bottom div {
  width: 100%;
}
/* line 45, ../sass/_bottom.scss */
#bottom div a {
  text-decoration: none;
}

/* line 52, ../sass/_bottom.scss */
#bottom ul .li1 p {
  background: url(../images/bottomli.png) no-repeat 0 0;
}
/* line 57, ../sass/_bottom.scss */
#bottom ul .li2 p {
  background: url(../images/bottomli.png) no-repeat 0 -23px;
}
/* line 62, ../sass/_bottom.scss */
#bottom ul .li3 p {
  background: url(../images/bottomli.png) no-repeat 0 -45px;
}
/* line 67, ../sass/_bottom.scss */
#bottom ul .li4 p {
  background: url(../images/bottomli.png) no-repeat 0 -69px;
}
/* line 72, ../sass/_bottom.scss */
#bottom ul .li5 p {
  background: url(../images/bottomli.png) no-repeat 0 -93px;
}

/* line 77, ../sass/_bottom.scss */
#bottom .span1 {
  color: #008842;
  font-size: 14px;
  margin-top: 60px;
  letter-spacing: 0.5px;
  font-family: Arial, Verdana, "宋体";
}

/* line 84, ../sass/_bottom.scss */
#bottom .span2 {
  font-size: 12px;
  font-family: Arial,Verdana,"\5b8b\4f53";
  color: #717171;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

/* line 91, ../sass/_bottom.scss */
#bottom .span3 {
  color: #717171;
  font-size: 12px;
  margin-top: 10px;
}

/* line 96, ../sass/_bottom.scss */
#bottom .last {
  text-align: center;
}
/* line 98, ../sass/_bottom.scss */
#bottom .last a {
  padding: 0 5px;
}
/* line 101, ../sass/_bottom.scss */
#bottom .last .gongan {
  font-size: 12px;
  color: #939393;
  font-family: Arial,Verdana,"\5b8b\4f53";
}

/* line 107, ../sass/_bottom.scss */
#bottom .span4 {
  color: #717171;
  font-size: 12px;
  padding: 10px 0 20px  0;
}

/* line 34, ../sass/registry.scss */
#suiji {
  width: 100px;
  height: 30px;
  margin-left: 30px;
  height: 30px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}

/* line 47, ../sass/registry.scss */
.one {
  background: #008842;
  width: 80px;
}

/* line 52, ../sass/registry.scss */
input {
  width: 250px;
}

/* line 56, ../sass/registry.scss */
.two {
  display: inline-block;
}

/* line 61, ../sass/registry.scss */
.b1 {
  width: 50px;
  height: 30px;
  background: red;
  display: none;
  text-align: center;
}

/* line 69, ../sass/registry.scss */
.b2 {
  width: 50px;
  height: 30px;
  background: orange;
  display: none;
  text-align: center;
}

/* line 77, ../sass/registry.scss */
.b3 {
  width: 50px;
  height: 30px;
  background: green;
  display: none;
  text-align: center;
}

/* line 84, ../sass/registry.scss */
form {
  position: relative;
  height: 500px;
  margin-top: 30px;
  padding-right: 500px;
}
/* line 86, ../sass/registry.scss */
form P {
  padding: 10px 20px;
}
/* line 93, ../sass/registry.scss */
form main {
  padding: 5px 20px;
}
/* line 96, ../sass/registry.scss */
form span {
  display: none;
  margin: 0 auto;
  width: 200px;
}

/* line 106, ../sass/registry.scss */
#registry {
  width: 1200px;
  height: 500px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0 auto;
}

/* line 113, ../sass/registry.scss */
#registry .tupian {
  float: right;
  position: absolute;
  top: 230px;
  left: 1000px;
  border-left: 1px solid #cccc;
}

/* line 120, ../sass/registry.scss */
#tishi {
  display: none;
  font-size: 18px !important;
  color: red !important;
}
